body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Ostrich Sans Bold, Arial,
    Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* animation-duration: 1s;
  animation-delay: 1s; */
  /* overflow-x: hidden; */
}

html {
  scroll-behavior: smooth;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

#test {
  height: 300%;
}

/*--------------------------------------------------------------- heading------------------------*/

#heading {
  margin: 0;
  border: 0;
  min-height: 100vh;
  /* height: 700px; */
  background-color: aqua;
  text-align: center;
  position: relative;
}
#heading h1 {
  border: 0;
  /* margin: 0; */
  display: inline-block;
  /* width: fit-content; */
  margin: 0 auto;
}

/* --------------------------------------------------------------Navigation bar----------*/
#nav-bar {
  float: right;
  position: sticky;
  position: -webkit-sticky;
  /* height: 50px; */
  color: aqua;
  background-color: rgba(36, 53, 32, 0.719);
  width: 10%;
  height: 10vw;
  top: 10%;
  right: 2%;
  max-height: 600px;
  min-height: 400px;
  min-width: 130px;
}

.nav-bar-direction {
  height: 10vw;
  width: 10%;
  max-width: 165px;
  max-height: 80px;
  background-color: rgba(36, 53, 32, 0.719);
  position: absolute;
  bottom: 0%;
  right: 2%;
  min-width: 130px;
}

/* #nav-bar table {
  width: 10px;
  border-spacing: 0 10px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
} */

.nav-bar-refs.flex-item {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  /* display: inline-block; */
  color: whitesmoke;
  padding: 20px 10px;
  /* background-color: darkorange; */
  border: 0px;
  margin: 0px;
  max-width: 200px;
}

/* ---------------------------*/

/* .headingtop {
  position: relative;
} */

/* ---------------------------------------------content wrap-------*/
.content-wrap {
  width: 70%;
  margin: 0 auto;
}

#profile,
#education,
#experiences,
#skills {
  margin: 0 auto;
  border: 0;
  min-height: 100vh;
  /* width: 99vw; */
  background-color: rgba(122, 129, 230, 0.822);
  text-align: center;
  /* padding: 23vh 0 0 0; */
}

#profile h1,
#education h1,
#experiences h1,
#skills h1 {
  margin: 0;
  padding: 4vh 5vw;
  font-size: 5vw;
  font-weight: bolder;
  /* position: sticky;
  top: 10px;
  background-color: burlywood; */
}
#profile h2,
#experiences h2 {
  margin: 0;
  padding: 2vh 0vw;
  font-weight: 100;
}

#profile table {
  margin: 0 auto;
}

#profile table td,
#experiences table td {
  text-align: left;
  width: 300px;
}
#profile table td h2,
#experinces table td h2 {
  font-weight: bold;
}

#education {
  background-color: sienna;
}

/* #education h1 {
  width: 900px;
  margin: 0 auto;
  padding: 0;
  margin: 0;
} */

#education .content-wrap {
  padding-top: 5vh;
}

#education table,
#experiences table {
  width: 900px;
  margin: 0 auto;
  text-align: left;
  margin-top: 5vh;
  font-size: large;
}

/* #education table tr td strong {

} */

/*------------------------------------------------------------------------------profile------------*/
#profile img {
  width: 60%;
  margin: 0 auto;
  min-width: 100px;
}

.flex-container {
  display: flex;
  margin: 0 auto;
  align-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-item {
  flex: 1 1 0;
}
/*-----------------------*/

/* ----------------------------------------------------------------education---------*/
#education table td {
  padding: 20px 0;
}

.btech-education.flex-container,
.inter-education.flex-container,
.school-education.flex-container {
  padding: 20px 5px;
}
/*---------------------*/

/*--------------------------------------------------------------experiences---------*/
#experiences {
  background-color: peru;
}
/* ---------------------- */

/* ------------------------------------------------------------skill table----------*/
.skill-table {
  width: 700px;
  margin: 0 auto;
  border-spacing: 1vw;
  text-align: left;
}

.filled-star,
.unfilled-star {
  width: 17px;
}
.filled-star:hover,
.unfilled-star:hover {
  width: 20pxvw;
}

#skills .skill-table ol {
  list-style: none;
}

.skill-table span {
  float: right;
}

/* ----------------------*/

/* -------------------------responsive part---------------*/
@media screen and (max-width: 800px) {
  #nav-bar,
  .nav-bar-direction {
    /* visibility: hidden; */
    display: none;
  }
  .content-wrap {
    width: 95%;
  }
}

@media screen and (max-width: 300px) {
  .profile img {
    visibility: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .nav-bar-refs {
    padding: 18px 9px;
    font-size: 0.7vw;
  }
}
